.contact {

    background-color: var(--black);

    .heading {
        color: var(--white);
    }

    .row {

        display  : flex;
        flex-wrap: wrap;
        gap      : 3rem;

        .google-map {
            flex : 1 1 41rem;
            width: 100%;
        }

        form {
            flex            : 1 1 41rem;
            background-color: var(--white);
            padding         : 2rem;

            h3 {
                @include title(2.5rem);
            }

            .box {
                margin             : 0.7rem 0;
                width              : 100%;
                padding            : 1.5rem 0;
                border-bottom      : var(--border);
                // background-color: var(--lightBg);
                @include fontStyle(1.6rem, var(--lightColor));

                &:focus {
                    border-color: var(--themeColor);
                }
            }

            textarea {
                height: 15rem;
                resize: none;
            }

        }
    }
}