.header {
    position        : sticky;
    top             : 0;
    left            : 0;
    right           : 0;
    padding         : 1.5rem 10%;
    box-shadow      : var(--boxShadow);
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    background-color: var(--white);
    z-index         : 100;

    .logo {
        @include title(2.5rem);

        span {
            color: var(--themeColor);
        }
    }

    .navbar a {
        @include title(2rem);
        margin: 0 1rem;

        &.active,
        &:hover {
            color: var(--themeColor);
        }
    }

    .icons div {
        @include iconBox();
        margin-left: 0.5rem;
    }

    #menu-btn {
        display: none;
    }

    .search-form {
        position        : absolute;
        top             : 130%;
        left            : 50%;
        transform       : translateX(-50%);
        width           : 70rem;
        background-color: var(--white);
        box-shadow      : var(--boxShadow);
        padding         : 1rem;
        display         : none;
        align-items     : center;
        gap             : 1rem;
        animation       : fadeIn .2s linear;

        &.userClick {
            display: flex;
        }

        input {
            width           : 100%;
            padding         : 1.2rem 1.4rem;
            background-color: var(--lightBg);
            @include fontStyle(1.6rem, var(--lightColor));
        }

        label {
            @include fontStyle(2rem, var(--black));
            cursor: pointer;
            margin: 0 1rem;

            &:hover {
                color: var(--themeColor);
            }
        }
    }

    .login-form {
        position        : absolute;
        top             : 130%;
        left            : 50%;
        transform       : translateX(-50%);
        width           : 45rem;
        background-color: var(--white);
        box-shadow      : var(--boxShadow);
        padding         : 2rem;
        text-align      : center;
        animation       : fadeIn .2s linear;
        display         : none;

        &.userClick {
            display: block;
        }

        h3 {
            @include title(2.5rem);
        }

        .box {
            width           : 100%;
            padding         : 1.2rem 1.4rem;
            margin          : 0.7rem 0;
            background-color: var(--lightBg);
            text-transform  : lowercase;
            @include fontStyle(1.6rem, var(--lightColor));

            &::placeholder {
                text-transform: capitalize;
            }
        }

        .flex {
            display    : flex;
            align-items: center;
            gap        : 0.5rem;
            padding    : 1.5rem 0 1rem;

            label {
                @include fontStyle(1.5rem, var(--lightColor));
                cursor: pointer;

                &:hover {
                    color: var(--themeColor);
                }
            }

            a {
                @include fontStyle(1.5rem, var(--lightColor));
                margin-left: auto;

                &:hover {
                    color                : var(--themeColor);
                    text-decoration      : underline !important;
                    text-underline-offset: .5rem !important;
                }
            }
        }

        .btn {
            width: 100%;
        }

        p {
            @include fontStyle(1.6rem, var(--lightColor));
            text-transform: lowercase;
            margin-top    : 1rem;

            a {
                text-transform: lowercase;
                color         : var(--themeColor);

                &:hover {
                    text-decoration      : underline !important;
                    text-underline-offset: .5rem !important;
                }
            }
        }
    }

    .contact-info {
        position           : fixed;
        top                : 0;
        right              : -200vw;
        height             : 100%;
        width              : 35rem;
        text-align         : center;
        background-color   : var(--white);
        z-index            : 1100;
        padding            : 5rem 2rem 0;
        transition         : .2s linear;
        // display         : none;

        &.userClick {
            // display   : block;
            right     : 0;
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, .6);
        }

        #close-info-btn {
            position  : absolute;
            top       : 1rem;
            right     : 1.5rem;
            cursor    : pointer;
            transition: .2s linear;
            @include fontStyle(3rem, var(--black));

            &:hover {
                color    : tomato;
                transform: rotate(90deg);
            }
        }

        .firstInfo {
            padding-top: 8rem !important;
        }

        .info {
            padding: 2rem 0;

            i {
                @include iconBox();
            }

            h3 {
                @include title(2rem);
                margin: .5rem 0;
            }

            p {
                @include paragraph(1.5rem);
                line-height: 1.3 !important;
            }

            .email {
                text-transform: lowercase;
            }
        }

        .share {
            padding-top: 3rem;
            border-top : var(--border);
            margin-top : 1rem;

            a {
                @include iconBox();
                margin: 0 .3rem;
            }

        }
    }
}