@media (max-width: 1200px) {

    .header {
        padding: 1.5rem 2rem;
    }

    section,
    .slide,
    .customSection {
        padding: 3rem 5%;
    }

    .about .row .content {
        h3 {
            @include title(3.5rem);
            line-height: 1.2;
        }

        p {
            padding    : .5rem 0;
            line-height: 1.5;
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    section,
    .slide,
    .customSection {
        padding: 3rem 2rem;
    }

    .header {

        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position        : absolute;
            top             : 99%;
            left            : 0;
            right           : 0;
            background-color: var(--white);
            border-top      : var(--border);
            border-bottom   : var(--border);
            transition      : .2s linear;
            clip-path       : polygon(0 0, 100% 0, 100% 0, 0 0);

            &.userClick {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin : 2rem;
            }
        }
    }
}


@media (max-width: 768px) {

    .header {

        .search-form,
        .login-form {
            width: 90%;
        }
    }

    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                font-size: 3rem;
            }
        }
    }

    .about .row {
        gap: 1rem;

        .content h3 {
            @include title(3.5rem);
        }
    }

    .contact .row .google-map {
        height: 40rem;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 55%;
    }

    .header .contact-info .firstInfo {
        padding-top: 4rem !important;
    }

    // .home .slide {
    //     min-height: 93vh;
    // }

    .contact-info .info {
        padding: 1rem 0;

        p {
            margin-top : 1rem !important;
            line-height: 1 !important;
        }
    }



}