@media (max-width: 1200px) {

    .header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem;
    }

    .header {

        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position        : absolute;
            top             : 99%;
            left            : 0;
            right           : 0;
            background-color: var(--white);
            border-top      : var(--border);
            border-bottom   : var(--border);
            clip-path       : polygon(0 0, 100% 0, 100% 0, 0 0);

            &.userClick {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin : 2rem;
            }
        }
    }



}

@media (max-width: 768px) {

    // mobile navigation start from here...


    // transform       : scaleY(0);
    // transform-origin: top;

    // &.user-click-at-search {
    //     transform: scaleY(1);
    // }
}

@media (max-width: 450px) {}